html {
    background-color: #F8F9FA;
}

.list-img {
    border-radius: 80%;
    width: 50px;
}

.detail-img {
    border-radius: 50%;
    width: 100px;
}

.main-background {
    background-color: #F8F9FA;
}

.outline {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.text-gray {
    color:#BBBBBB;
}

.navbar-color {
    background-color: #FFFFFF;
}