{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <title>Contacts</title>
</head>
<body class="main-bg">
    <main>

        <!-- Main container -->
        <div class="container mb-5">
            <div class="row justify-content-center">
                <div class="col-5 bg-white rounded outline fix-width px-5 py-4 mt-5">

                    <!-- Navbar container-->
                    <nav class="navbar navbar-light bg-light rounded outline my-3">
                        <div class="container-fluid">

                            <!-- Navbar heading-->
                            <div class="banner-text">
                                <a href="{% url 'contact_list' %}">Simple Contacts</a>
                            </div>

                                <!-- Add contact button-->
                                <a href="{% url 'contact_new' %}">
                                    <i class="bi-person-plus" style="font-size: 1.5rem;"></i>
                                </a>
                        </div>
                    </nav>

                    <!-- Main content -->
                    {% block content %}
                    {% endblock content %}

                </div>
            </div>
        </div>

    </main>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>
</html>