{% extends 'base.html' %}

{% block content %}

    <nav class="navbar pb-3">
        <form class="form-inline">
            <a href="#">A</a> &middot;
            <a href="#">B</a> &middot;
            <a href="#">C</a> &middot;
            <a href="#">D</a> &middot;
            <a href="#">E</a> &middot;
            <a href="#">F</a> &middot;
            <a href="#">G</a> &middot;
            <a href="#">H</a> &middot;
            <a href="#">I</a> &middot;
            <a href="#">J</a> &middot;
            <a href="#">K</a> &middot;
            <a href="#">L</a> &middot;
            <a href="#">M</a> &middot;
            <a href="#">N</a> &middot;
            <a href="#">O</a> &middot;
            <a href="#">P</a> &middot;
            <a href="#">Q</a> &middot;
            <a href="#">R</a> &middot;
            <a href="#">S</a> &middot;
            <a href="#">T</a> &middot;
            <a href="#">U</a> &middot;
            <a href="#">V</a> &middot;
            <a href="#">W</a> &middot;
            <a href="#">X</a> &middot;
            <a href="#">Y</a> &middot;
            <a href="#">Z</a>
        </form>
    </nav>

    <div class="table-responsive">
        <table class="table table-bordered">

            <tbody>

                {% for contact in object_list %}
                    <tr>
                        <td style="width: 50%">
                            <a href="{% url 'contact_detail' contact.pk %}">
                                {{ contact.first_name }} {{ contact.last_name }}
                            </a>
                        </td>

                        <td style="width: 50%">
                            <a href="{% url 'contact_edit' contact.pk %}">Edit</a> &middot;
                            <a href="{% url 'contact_delete' contact.pk %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>

        </table>
    </div>

{% endblock content %}