{% extends 'base.html' %}

{% load static %}

{% block content %}

    <!-- Alphabetic search button group -->
    <div class="text-center">
        <div class="btn-group mt-2" role="group" aria-label="Aplhabet-based group search buttons">
            <a href="{% url 'contact_list' %}" class="btn btn-sm btn-outline-primary">All</a>
            <a href="{% url 'contact_alphabet' 'A-E' %}" class="btn btn-sm btn-outline-primary">A - E</a>
            <a href="{% url 'contact_alphabet' 'F-J' %}" class="btn btn-sm btn-outline-primary">F - J</a>
            <a href="{% url 'contact_alphabet' 'K-O' %}" class="btn btn-sm btn-outline-primary">K - O</a>
            <a href="{% url 'contact_alphabet' 'P-T' %}" class="btn btn-sm btn-outline-primary">P - T</a>
            <a href="{% url 'contact_alphabet' 'U-Z' %}" class="btn btn-sm btn-outline-primary">U - Z</a>
        </div>
    </div>

    <!-- Table containing relevant contacts -->
    <div class="table-responsive mt-4">
        <table class="table">
            <tbody>

                {% for contact in contacts %}

                    <tr>
                        <td class="list-table-col-1">
                            {% if contact.thumbnail %}
                                <a href="{% url 'contact_detail' contact.pk %}">
                                    <img src="{{ contact.thumbnail.url }}" alt="Profile picture" class="list-img" >
                                </a>
                            {% else %}
                                <a href="{% url 'contact_detail' contact.pk %}">
                                    <img src="{% static 'images/default_thumbnail.svg' %}" alt="Profile picture" class="list-img" >
                                </a>
                            {% endif %}
                        </td>

                        <td class="list-table-col-2 align-middle pl-4">
                            <a href="{% url 'contact_detail' contact.pk %}">
                                {{ contact.first_name }} {{ contact.last_name }}
                            </a>
                            {% if contact.nickname %}
                                <span class="text-gray">
                                    &nbsp({{ contact.nickname }})
                                </span>
                            {% endif %}
                        </td>

                        <td class="list-table-col-3 align-middle">
                            <a href="{% url 'contact_edit' contact.pk %}"><i class="bi-pencil icon-large"></i></a></a>
                        </td>

                        <td style="width: 11%" class="align-middle">
                            <a href="{% url 'contact_delete' contact.pk %}"><i class="bi-x-circle icon-large icon-orange"></i></a>
                        </td>

                    </tr>

                {% empty %}

                    <div class="alert alert-info mt-3" role="alert">
                        No contacts found.
                    </div>

                {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock content %}