{% extends 'base.html' %}

{% block content %}

    <div class="table-responsive py-3">
        <table class="table table-bordered">

          <tbody>
            <tr>
              <th scope="row">Name:</th>
              <td>{{ contact.first_name }} {{ contact.last_name }}</td>
            </tr>
            <tr>
              <th scope="row">Nickname:</th>
              <td>{{ contact.nickname }}</td>
            </tr>
            <tr>
              <th scope="row">Address:</th>
              <td>{{ contact.postal_address }}</td>
            </tr>
            <tr>
              <th scope="row">Phone:</th>
              <td>{{ contact.phone_number }}</td>
            </tr>
            <tr>
              <th scope="row">Email:</th>
              <td>{{ contact.email_address}}</td>
            </tr>
            <tr>
              <th scope="row">LinkedIn:</th>
              <td><a href="{{ contact.linkedin_url }}" target="_blank">{{ contact.linkedin_url }}</a></td>
            </tr>
            <tr>
              <th scope="row">Twitter:</th>
              <td><a href="{{ contact.twitter_url }}" target="_blank">{{ contact.twitter_url }}</a></td>
            </tr>
            <tr>
              <th scope="row">Website:</th>
              <td><a href="{{ contact.personal_website }}" target="_blank">{{ contact.personal_website }}</a></td>
            </tr>
            <tr>
              <th scope="row">Created:</th>
              <td>{{ contact.created_on }}</td>
            </tr>
            <tr>
              <th scope="row">Updated:</th>
              <td>{{ contact.last_modified_on }}</td>
            </tr>
          </tbody>

        </table>

        <a href="{% url 'contact_edit' contact.pk %}">Edit</a> &middot;
        <a href="{% url 'contact_delete' contact.pk %}">Delete</a>

      </div>



{% endblock content %}