{% extends 'base.html' %}

{% block content %}

    <nav class="navbar pb-3">
        <form class="form-inline">
            <a href="{% url 'contact_alphabet' 'A' %}">A</a> &middot;
            <a href="{% url 'contact_alphabet' 'B' %}">B</a> &middot;
            <a href="{% url 'contact_alphabet' 'C' %}">C</a> &middot;
            <a href="{% url 'contact_alphabet' 'D' %}">D</a> &middot;
            <a href="{% url 'contact_alphabet' 'E' %}">E</a> &middot;
            <a href="{% url 'contact_alphabet' 'F' %}">F</a> &middot;
            <a href="{% url 'contact_alphabet' 'G' %}">G</a> &middot;
            <a href="{% url 'contact_alphabet' 'H' %}">H</a> &middot;
            <a href="{% url 'contact_alphabet' 'I' %}">I</a> &middot;
            <a href="{% url 'contact_alphabet' 'J' %}">J</a> &middot;
            <a href="{% url 'contact_alphabet' 'K' %}">K</a> &middot;
            <a href="{% url 'contact_alphabet' 'L' %}">L</a> &middot;
            <a href="{% url 'contact_alphabet' 'M' %}">M</a> &middot;
            <a href="{% url 'contact_alphabet' 'N' %}">N</a> &middot;
            <a href="{% url 'contact_alphabet' 'O' %}">O</a> &middot;
            <a href="{% url 'contact_alphabet' 'P' %}">P</a> &middot;
            <a href="{% url 'contact_alphabet' 'Q' %}">Q</a> &middot;
            <a href="{% url 'contact_alphabet' 'R' %}">R</a> &middot;
            <a href="{% url 'contact_alphabet' 'S' %}">S</a> &middot;
            <a href="{% url 'contact_alphabet' 'T' %}">T</a> &middot;
            <a href="{% url 'contact_alphabet' 'U' %}">U</a> &middot;
            <a href="{% url 'contact_alphabet' 'V' %}">V</a> &middot;
            <a href="{% url 'contact_alphabet' 'W' %}">W</a> &middot;
            <a href="{% url 'contact_alphabet' 'X' %}">X</a> &middot;
            <a href="{% url 'contact_alphabet' 'Y' %}">Y</a> &middot;
            <a href="{% url 'contact_alphabet' 'Z' %}">Z</a>
        </form>
    </nav>

    <div class="table-responsive">
        <table class="table table-bordered">

            <tbody>

                {% for contact in contacts %}

                    <tr>
                        <td style="width: 50%">
                            <a href="{% url 'contact_detail' contact.pk %}">
                                {{ contact.first_name }} {{ contact.last_name }}
                            </a>
                        </td>

                        <td style="width: 50%">
                            <a href="{% url 'contact_edit' contact.pk %}">Edit</a> &middot;
                            <a href="{% url 'contact_delete' contact.pk %}">Delete</a>
                        </td>
                    </tr>

                {% empty %}

                    <p>No contacts found.</p>

                {% endfor %}

            </tbody>

        </table>
    </div>

{% endblock content %}